<h2><%= @project.title %>（<%= @project.site_name %>）</h2>
<p>開始日: <%= @project.start_date %> / 終了日: <%= @project.end_date %></p>
<p>現場名：<%= @project.site_name %></p>

<%= link_to '写真をアップロード', new_project_photo_path(@project) %>

<h3>写真一覧</h3>
<ul>
  <% @project.photos.each do |photo| %>
    <li>
      <% if photo.image.attached? %>
        <%= link_to image_tag(photo.image.variant(resize_to_limit: [100, 100])), project_photo_path(@project, photo) %>
      <% end %>

      <p>メモ: <%= photo.note %></p>

      <% if photo.image_with_blackboard.attached? %>
        <p>黒板合成画像:</p>
        <%= image_tag photo.image_with_blackboard.variant(resize_to_limit: [200, 200]) %>
      <% else %>
        <p>黒板合成画像は未生成</p>
      <% end %>

      <!-- ✅ ここに移動 -->
      <%= link_to '詳細を見る', project_photo_path(@project, photo) %>
    </li>
  <% end %>
</ul>