<h1>写真詳細</h1>

<p>工事番号: <%= @photo.work_number %></p>
<p>工事内容: <%= @photo.work_content %></p>
<p>工事箇所: <%= @photo.location %></p>

<h2>黒板付き画像</h2>
<%= image_tag @photo.image_with_blackboard, size: "500x300" if @photo.image_with_blackboard.attached? %>
<%= link_to '詳細を見る', project_photo_path(@project, photo) %>
<h2>アップロードされた写真</h2>

<% if @photo.image.attached? %>
  <p>元の画像:</p>
  <%= image_tag @photo.image, width: 300 %>
<% end %>

<h2>黒板付き画像</h2>

<% if @photo.image_with_blackboard.attached? %>
  <%= image_tag @photo.image_with_blackboard %><br>
  <%= link_to "ダウンロード", rails_blob_path(@photo.image_with_blackboard, disposition: "attachment"), download: "工事写真_#{@photo.id}.jpg" %>
<% else %>
  <p>黒板付き画像は未生成です</p>
<% end %>

<p>メモ: <%= @photo.note %></p>